:root {
  /*Colour variables*/
  --color-dominant: #9e7940;
  --color-dominant-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-black-light: rgba(0, 0, 0, 0.664);
  --color-black: rgb(0, 0, 0);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}
