* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  /* colir variables */
  --color-bg-variant: #2c2c6c;
  --color-dominant: #9e7940;
  --color-dominant-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-black: rgb(0, 0, 0);
}

/* Input form and  contact info*/
.container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-contact {
  flex-basis: 45%;
}
.right-contact {
  flex-basis: 45%;
}
.form-group-contact {
  margin-bottom: 1rem;
}
.form-group-contact label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-group-contact input[type="text"] {
  width: 50%;
}

.form-group-contact input[type="email"],
.form-group-contact textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group-conatact textarea {
  height: 6rem;
}
.btn-contact {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-contact:hover {
  background-color: #0069d9;
}
