@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  /*Colour variables*/
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-dominant: #9e7940;
  --color-dominant-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-black-light: rgba(0, 0, 0, 0.664);
  --color-black: rgb(0, 0, 0);

  --font-dominant: Titillium;
  --font-tagline: Ruthie;
  --font-hero: Abril Fatface;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

.container-home {
  font-family: var(--font-dominant);
}

/**************************** Hero section *******************************/
.hero {
  position: relative;
  height: 600px;
}

.hero-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slideshow img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-blend-mode: darken;
  background-color: rgb(0, 0, 0);
}

.hero-slideshow img:first-child {
  opacity: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  font-family: Raleway;
  font-weight: bold;
}

.hero1 {
  font-family: var(--font-tagline), cursive;
  font-size: 30px;
  color: var(--color-dominant);
}

.hero2 {
  font-family: var(--font-hero), cursive;
  font-size: 60px;
  color: var(--color-white);
}

.hero3 {
  color: var(--color-white);
}
/* Type writter */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.tagline-typewriter {
  width: 28.5ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid var(--color-white);
  animation: cursor 1s step-start infinite, text 2s steps(30) alternate infinite;
}

@keyframes cursor {
  0%,
  100% {
    border-color: var(--color-white);
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 28.5ch;
  }
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--color-white);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

/* hero button */
.hero-button {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-dominant);
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
}

.hero-button:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: var(--color-dominant);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

/************* Section divider - Destinations intro [With parallax] ****************/
section.parallax {
  position: relative;
  height: auto;
  padding: 180px 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.parallax:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  content: " ";
}
section.parallax h1,
h2 {
  position: relative;
  z-index: 101;
  text-align: center;
}
.intro1 {
  padding-top: 5rem;
  font-family: var(--font-tagline), cursive;
  font-size: 40px;
  color: var(--color-dominant);
  text-align: center;
}

.intro2-light {
  font-family: var(--font-hero), cursive;
  font-size: 50px;
  color: var(--color-white);
  text-align: center;
}

.intro2-dark {
  font-family: var(--font-hero), cursive;
  font-size: 50px;
  color: var(--color-black);
  text-align: center;
}
.intro3-dark {
  color: var(--color-black-light);
  text-align: center;
  margin-bottom: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

/* bg image for parallax section*/
section.parallax.parallax-home {
  background-image: url("../../assets/banner/parallax-zebra.png");
  background-position: 10% 10%;
}

/*********************** Featured Destinations ******************************/
#destinations {
  padding-top: 5rem;
  background-color: var(--color-white);
  padding: 0 10%;
  margin: 10px auto;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.heading-destinations {
  text-align: center;
}

.container-destinations {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.destination {
  height: auto;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.destination:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.destination img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.destination h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.destination p {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.destination a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-dominant);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-left: 20px;
}

.destination a:hover {
  background-color: var(--color-dominant-variant);
  color: var(--color-dominant);
}

/************************** Popular packages *****************************/
#popular-packages {
  background-color: var(--color-white);
  padding: 0 10%;
  margin: 10px auto;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.heading-packages {
  text-align: center;
}

.container-packages {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.package {
  height: auto;
  box-shadow: 0 0 10px var(--color-black-light);
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.package:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.package img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.package h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.package p {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.package a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-dominant);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
  margin-bottom: 20px;
}

.package a:hover {
  background-color: #818181;
  outline: var(--color-dominant);
}

/************************ Footer [Copied on every page] *************************/
footer {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  background-image: url(../../assets/footer/footer-BG.avif);
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: var(--color-white);
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: var(--color-white);
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--color-dominant);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 300;
  color: var(--color-white);
  display: block;
}

.footer-col ul li a:hover {
  color: var(--color-dominant);
  padding-left: 10px;
}

.footer-col .footer-socials a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
}

.follow-us h4,
.logo h4,
.newsletter h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.follow-us ul,
.follow-us li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.follow-us li a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #333;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
}

.follow-us li a:hover {
  background-color: var(--color-dominant);
}

.logo-footer img {
  max-width: 60px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.logo-footer p {
  font-size: 14px;
  color: var(--color-white);
  line-height: 1.5;
}

.footer-bottom {
  text-align: center;
  color: var(--color-white);
  font-size: 14px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  margin-top: 50px;
}

.footer-bottom a {
  color: var(--color-white);
  text-decoration: none;
}

/******************************media queries *************************************/

/* packages home page */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .package {
    width: 100%;
  }
}
