:root {
  /* Color variables */
  --color-dominant: #9e7940;
}

/*********************************** Nav bar *****************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
header nav .logo {
  height: 130px;
  margin: -50px;
}

header nav .nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav .nav-links a {
  margin: 0 10px;
}

.nav-links a:hover {
  color: var(--color-dominant);
}

/* Nav links underline hover animation*/

.nav-links a {
  display: inline-block;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-dominant);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Hamburger menu */
